.form {
  background: #fff;
  max-width: 55rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.3rem;
  position: relative;
}
.form > input {
  margin-bottom: 1rem;
}
.form > input,
.form > textarea {
  font-family: inherit;
  border: none;
  resize: none;
  font-weight: 600;
  font-size: 1.5rem;
}
.form > input::placeholder,
.form > textarea::placeholder {
  font-weight: 600;
}
.addbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1.5rem;
  right: 5%;
  background: #202124;
  border: none;
  padding: 1rem;
  font-size: 1.7rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  border: 0.2rem solid #fff;
}
.addbtn:active {
  transform: scale(0.98);
  border: 0.18rem solid #fff;
}
.addbtn > svg {
  color: #fff;
}

@media screen and (max-width: 644px) {
  .form {
    max-width: 90%;
  }
}
